body{
background: #4b6cb7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

font-family: 'Open Sans';
width: 100vw;
width: 100vh;
min-width: 200px;
overflow: hidden;
}
.app-container{
	position: absolute;
	width: 300px;
	/*height: 525px;*/
	border-radius: 10px;
	background-color: #fafafa;
}
.button{
	text-align: center;
	vertical-align: center;
	position: relative;
	background-color: lightgrey;
	color: black;
	display: inline-block;
	margin-left: 0.5%;
	margin-right: 0.5%;
	width: 17.8%;
	font-size: 110%;
	height: 100%;
	outline: none;
	border-radius: 10px;
	cursor: pointer;
}
.button-row{
	position: relative;
	display:block;
	margin-top: 3%;
	/*border: 1px solid red;*/
	height: 7.4%;
}
.screen{
	position: relative;
	display: block;
	border-radius: 10px;
	background: lightgrey;
	margin-top: 3%;
	margin-left: 3%;
	margin-right: 3%;
	height: 60px;
	text-align: right;
}
.orange-button{
	background-color: orange;
	border-color: orange;
}
.display-top{
	font-size: 150%;
}
.display-bottom{
	font-size: 150%;
	text-align: right;
}
input{
	width: 90%;
	display: block;
	background-color: inherit;
	border: none;
	border: 0px solid red;
	outline: none;
	margin: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
}
@media screen and (max-width: 350px){
	.app-container{
	width: 100vw;
	height: 100vh;
	}
}
@media screen and (min-width: 351px){
	.app-container{
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	}
}

